<!DOCTYPE html>
<html lang="en">
	<head>
		{% capture title %}
		  {%- if page.title -%}
			  {{ page.title }}
			{%- else -%}
			  {{ site.title }}
			{%- endif -%}
		{% endcapture %}

		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Main CSS -->
		<link rel="stylesheet" type="text/css" href={{ "assets/css/bootstrap.min.css" | absolute_url }}>
		<link rel="stylesheet" type="text/css" href={{ "assets/css/codestyle.css" | absolute_url }}>
		<link rel="shortcut icon" href={{ "assets/images/favicon.png" | absolute_url }}>

		{% if page.layout == "post" %}
		  <!-- FB OG tags -->
		  <meta property="og:title" content={{ page.title }} />
		  <meta property="og:type" content="Blog Post" />
		  <meta property="og:url" content={{ page.url }} />
		  <link rel="canonical" href={{ page.url }} />

			<!-- Twitter summary cards -->
			<meta name="twitter:card" content="summary_large_image">
		  <meta name="twitter:site" content="@jlm89" />
		  <meta name="twitter:creator" content="@jlm89" />
		  <meta name="twitter:title" content="{{ page.title }}" />
		  <meta name="twitter:description" content="{{ page.excerpt | strip_html | xml_escape }}" />
		  <meta name="twitter:image" content="{{ page.featured-image | absolute_url }}">
		  <meta name="theme-color" content="#0085A1">
		{% else %}
		  <!-- FB OG tags -->
		  <meta property="og:title" content="Jose Marquez - Data Scientist" />
		  <meta property="og:type" content="website" />
		  <meta property="og:url" content="https://josemarquez.tech/" />
		  <link rel="canonical" href="https://josemarquez.tech/" />

			<!-- Twitter summary cards -->
			<meta name="twitter:card" content="summary_large_image">
		  <meta name="twitter:site" content="@jlm89" />
		  <meta name="twitter:creator" content="@jlm89" />
		  <meta name="twitter:title" content="Jose Marquez" />
		  <meta name="twitter:description" content="DS Blog of Jose Marquez" />
		  <meta name="twitter:image" content="{{ "assets/images/big_bend.jpg" | absolute_url }}">
		  <meta name="theme-color" content="#0085A1">
		{% endif %}

	</head>

  <body>
    {% include nav.html %}
    <div class="container">
			<div class="row">
				<p></p>
				<br>
			</div>

      {{ content }}

      {% include footer.html %}

    </div>


		<!-- Javascript -->
	<script type="text/javascript" src={{ "assets/js/jquery-3.4.1.min.js" | absolute_url }}></script>
	<script type="text/javascript" src={{ "assets/js/popper.min.js" | absolute_url }}></script>
	<script type="text/javascript" src={{ "assets/js/bootstrap.min.js" | absolute_url }}></script>
	{% if page.layout == "post" %}
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{% endif %}
  </body>

</html>
