
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>DS Blog</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Main CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

	</head>

  <body>
    {% include nav.html %}
    <div class="container">

      {{ content }}

      {% include footer.html %}

    </div>


		<!-- Javascript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

  </body>

</html>
